.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 100px;

  margin-top: 100px;
  padding: 0 80px;

  height: 100%;

  /* Center and scale the image nicely */
}

.maincontain {
  background-color: #1c1c1c;
  height: fit-content;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.main {
  background: #1c1c1c;
  height: fit-content;
}

.bgorange {
  background-color: rgba(250, 49, 9, 0.75);
}

.limittext {
  color: rgba(171, 165, 171, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 650px;
  line-height: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 15px;
}
.limittext2 {
  color: rgba(171, 165, 171, 1);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  line-height: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 15px;
  font-size: 12.9px;
}

@media only screen and (max-width: 1280px) {
  .limittext {
    font-size: 16px;
    width: 250px;
  }
  .limittext2 {
    font-size: 12.9px;
    width: 180px;
  }
}

@media only screen and (max-width: 1023px) {
  .limittext {
    font-size: 16px;
    width: 200px;
  }
  .limittext2 {
    font-size: 12.9px;
    width: 130px;
  }
}

@media only screen and (max-width: 768px) {
  .limittext {
    font-size: 16px;
    width: 100px;
  }
  .limittext2 {
    font-size: 12.9px;
    width: 100px;
  }
}

@media only screen and (max-width: 410px) {
  .maincontain {
    background: #1c1c1c;
  }
  .limittext {
    display: none;
  }
  .limittext2 {
    width: 80px;
  }
}
